@media (max-width: 767.98px) {
  .button, .card {
    width: 100%;
    text-align: center;
  }

  .sidebar {
    display: none;
  }

  .content-card {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    padding: 0 var(--ifm-spacing-md);
  }
}
